@import './color';
@import './var';

h2.title {
    position: sticky;
    display: flex;
    align-items: center;
    color: $second-color;
    font-weight: 100;
    font-size: $font-giant;
    margin-bottom: $gap-giant;
    top: 15px;
    // text-align: right;
    z-index: 9;
    pointer-events: none;
    // background-color: $dark;
    // box-shadow: 0 20px 30px $dark;
    &::before {
        content: '';
        display: inline-block;
        height: 1px;
        width: 80px;
        background-color: $second-color;
        margin-right: $gap-small;
    }
    @media screen and (max-width: 800px) {
        position: relative;
        z-index: 0;
    }
}
.wrap > article {
    padding: $gap-middle $gap-big;
    @media screen and (max-width: 800px) {
        padding: $gap-middle $gap-middle;
    }
}
.works {
    // padding: $gap-middle $gap-big;
    text-align: center;
    .work-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -$gap-small;
        margin-right: -$gap-small;
        article {
            width: 33.33333%;
            padding: $gap-small;
            margin-bottom: $gap-small;
            text-align: left;
            &:hover {
                .cover {
                    box-shadow: 0 15px 40px rgba(0,0,0,.8)
                }
            }
        }
        @media screen and (max-width: 800px) {
            article {
                width: 50%;
            }
        }
        @media screen and (max-width: 500px) {
            article {
                width: 100%;
            }
        }
        .cover {
            background-color: $main-color;
            background-image: linear-gradient(-50deg, #3EE7D6 0%, $main-color 100%);
            padding: $gap-middle;
            display: flex;
            align-items: center;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 10px 20px rgba(0,0,0,.2);
            transition: .2s box-shadow ease-in-out;
        }
        .logo {
            display: inline-block;
            padding: $gap-tiny;
            border-radius: 50%;
            margin-right: $gap-small;
            img {
                // filter: brightness(10) #{"grayscale()"}; // Conflict with sass built-in function
                width: 50px;
                height: auto;
            }
        }
        @media screen and (max-width: 800px) {
            .logo {
                img {
                    width: 30px;
                }
            }
        }
        .content {
            flex: 1;
            width: 80%;
        }
        h3, p {
            margin: 0;
        }
        h3 {
            font-size: $font-big;
            margin-bottom: 2px;
            font-weight: 300;
        }
        p {
            font-size: $font-tiny;
            font-weight: 100;
            opacity: .5;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

.design {
    figure {
        // margin: 0;
        margin: 10px 0;
        width: 22vw;
        font-size: 0;
        box-shadow: 0 10px 20px rgba(0,0,0,.2), 0 -5px 20px -5px rgba(0,0,0,.2);
        background-size: cover;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        &:hover {
            transition: .2s box-shadow ease-in-out;
            box-shadow: 0 15px 40px rgba(0,0,0,.8)
        }
    }
    @media screen and (max-width: 500px) {
        figure {
            width: 100%;
        }
    }
    .figures {
        display: flex;
        margin: 0 -5px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    img {
        width: 100%;
        height: 250px;
        background-color: $main-color;
        border-radius: 5px 5px 0 0;
        object-fit: cover;
        opacity: 0;
    }
    figcaption {
        text-align: center;
        background-color: $second-color;
        font-size: $font-big;
        color: $dark;
        padding: $gap-middle;
        border-radius: 0 0 5px 5px;
    }
}

.photography {
    text-align: center;
    figure {
        position: relative;
        margin: 0;
        // padding: 0 5px;
        flex: 1;
        font-size: 0;
        z-index: 2;
        overflow: hidden;
        min-width: 100px;
        &:hover {
            
        }
    }
    @media screen and (max-width: 800px) {
        figure {
            min-width: 33.33%;
        }
    }
    @media screen and (max-width: 500px) {
        figure {
            min-width: 50%;
        }
    }
    .figures {
        // width: calc(100% + 80px);
        display: flex;
        // margin: 0 -40px;
        margin-bottom: $gap-big;
        flex-wrap: wrap;
    }
    a {
        display: inline-block;
        width: 200px;
        height: 200px;
        background-size: cover;
    }
    @media screen and (max-width: 800px) {
        a {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
        }
    }
    img {
        width: 100%;
        height: auto;
        background-color: $main-color;
    }
    figcaption {
        display: none;
    }
}

.links {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        img {
            border-radius: 50%;
            border: 5px solid $second-color;
            background-color: $main-color;
            margin-bottom: $gap-small;
        }
        &::before {
            content: attr(data-tip);
            position: absolute;
            top: -10px;
            transform: translateY(-100%);
            background-color: rgba(0, 0, 0, .2);
            font-size: $font-tiny;
            padding: $gap-tiny $gap-small;
            width: 100px;
            color: #fff;
            display: none;
        }
        &:hover::before {
            display: block;
        }
    }
}

article.footer {
    text-align: center;
    opacity: .2;
    margin-top: $gap-big;
    padding: $gap-big; 
}