@import './var';
@import './color';

.first-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    h1 {
        display: inline-block;
        height: 30px;
        width: 30px;
        background: url('../Img/logo.svg');
        background-size: cover;
        margin: 0;
        text-indent: 9999999px;
    }
    nav {
        position: relative;
        padding: $gap-middle $gap-big;
        width: 100%;
        position: fixed;
    }
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0;
    }
    li {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $main-color;
        margin-left: $gap-small;
        &:first-child {
            margin-left: 0;
        }
        &.active {
            width: 10px;
            height: 10px;
            background-color: $second-color;
        }
    }
    .content {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $second-color;
        h2, h3 {
            font-weight: 100;
            margin: 0;
        }
        h2 {
            font-size: 60px;
        }
        h3 {
            opacity: .5;
        }
    }
    .main-links {
        text-align: center;
        padding: $gap-small;
        a {
            display: inline-block;
            color: $main-light;
            margin: 0 $gap-small;
            text-decoration: none;
            position: relative;
            text-align: left;
            opacity: .5;
            &::before {
                content: '';
                position: absolute;
                height: 1px;
                width: 20px;
                background-color: $main-light;
                bottom: -5px;
                left: 0;
                opacity: .4;
                transition: width .1s ease-in-out;
            }
            &:hover {
                opacity: 1;
            }
            &:hover::before {
                width: 100%;
                opacity: 1;
            }
        }
    }
    .mouse {
        padding: $gap-middle;
        animation: bounce 1.5s ease-in-out infinite;
    }
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    33% {
        transform: translateY(-5px);
    }
    66% {
        transform: translateY(10px);
    }
    to {
        transform: translateY(0);
    }
}