@import './normalize';
@import './color';
@import './var';

body {
    min-height: 100vh;
    border: 5px solid $second-color;
    border-bottom: none;
    border-top: none;
    background-color: $dark;
    color: $main-light;
    font-weight: 100;
    font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
             "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei",
             SimSun, sans-serif;
    box-sizing: border-box;
}

body *,
body *::before,
body *::after {
    box-sizing: inherit;
}

.btn {
    background-color: $second-color;
    border: none;
    color: $dark;
    padding: $gap-small $gap-middle;
    cursor: pointer;
    margin-top: $gap-middle;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    &:hover {
        opacity: .9;
    }
    &:active {
        outline-color: $dark;
        outline-style: dashed;
        outline-width: 1px;
        outline-offset: -5px;
    }
    &:focus {
        outline-color: $dark;
        outline-style: dashed;
        outline-width: 1px;
        outline-offset: -5px;
    }
}